source ~/dotfiles/.functions 

alias venv="export PYTHONPATH=.; source .venv/bin/activate"

alias ls="la -lah"
alias psaux="ps aux"

# alias awsd='docker run --rm -t $(tty &>/dev/null && echo "-i") -e "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}" -e "AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}" -e "AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}" -v "$(pwd):/project" mesosphere/aws-cli'
# alias aws='docker run --rm -t $(tty &>/dev/null && echo "-i") -v "$(pwd):/project" mesosphere/aws-cli'
alias ws3='python -m http.server 1234'
alias ws='python -m SimpleHTTPServer 1234'

# Git
alias gs='git checkout master && git pull sr master --rebase && git push origin master'


# AWS OKTA alias
alias ppd="source =(aws-okta env preprod-dev)"
alias pro="source =(aws-okta env prod-ro)"
# alias leg="source =(aws-okta env legacy)"
alias legd="source =(aws-okta env legacy-dev)"

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'


# IP Addresses
alias localip="ipconfig getifaddr en0"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"


# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'